attrs
backcall
bleach
certifi
colorama
cycler
decorator
defusedxml
entrypoints
imbalanced-learn
imblearn
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
mkl-fft
mkl-random
mkl-service
nbconvert
nbformat
notebook
numpy
olefile
packaging
pandas
pandocfilters
parso
patsy
pickleshare
Pillow
prometheus-client
prompt-toolkit
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
QtPy
scikit-learn
scipy
seaborn
Send2Trash
six
statsmodels
terminado
testpath
torch
torchvision
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
wincertstore
