*  @Talos-1 @janudi0531-debug @ndamaj @PriyanshiDavid @zachariahchristie @InuriN @savindeehasara @ananyag270903 @s223991203 @royal2510 @Adityasuhag001 @PriyanshiDavid

# Shared build managed by Dev/MLOps Leads
/.github/        @Talos-1 @janudi0531-debug
/pyproject.toml  @Talos-1 @janudi0531-debug
/poetry.lock     @Talos-1 @janudi0531-debug
/Makefile        @Talos-1 @janudi0531-debug
