# Need someone added? Contact:
# @Talos-1 (Alex Ryan),
# @janudi0531-debug (Janudi Disara Ranasinghe), or
# @laxminarsimha01 (Laxmi Narsimha Reddy Nalla)

# Default fallback
*                    @Talos-1 @janudi0531-debug @laxminarsimha01

# Shared build managed by Dev/MLOps Leads
/.github/            @Talos-1 @janudi0531-debug @laxminarsimha01
/poetry.lock         @Talos-1 @janudi0531-debug @laxminarsimha01
/pyproject.toml      @Talos-1 @janudi0531-debug @laxminarsimha01
**/Makefile          @Talos-1 @janudi0531-debug @laxminarsimha01
**/Dockerfile        @Talos-1 @janudi0531-debug @laxminarsimha01
/tests/              @Talos-1 @janudi0531-debug @laxminarsimha01
/*.py                @Talos-1 @janudi0531-debug @laxminarsimha01

# Model Development Leads (+ Alex for support)
/katabatic/models/   @ndamaj @PriyanshiDavid @Talos-1

# Benchmarking & Evaluation Leads
/examples/           @royal2510 @zachariahchristie @InuriN @savindeehasara
/benchmarks/         @royal2510 @zachariahchristie @InuriN @savindeehasara
/katabatic/evaluate/ @royal2510 @zachariahchristie @InuriN @savindeehasara

# Dashboard & UI Leads
/frontend/           @s223991203 @Dipsan49
