*  @Talos-1 @janudi0531-debug @ndamaj @PriyanshiDavid @zachariahchristie @InuriN @savindeehasara @ananyag270903 @s223991203 @royal2510 @Adityasuhag001 @PriyanshiDavid

# Shared build managed by approved leads
/.github/        @Talos-1 @janudi0531-debug @ndamaj @zachariahchristie
/pyproject.toml  @Talos-1 @janudi0531-debug @ndamaj @zachariahchristie
/poetry.lock     @Talos-1 @janudi0531-debug @ndamaj @zachariahchristie
/Makefile        @Talos-1 @janudi0531-debug @ndamaj @zachariahchristie
